TELEGRAM_TOKEN=your_telegram_bot_token_here
ONEC_WAYBILL_URL=http://192.168.100.10:8080/uat/hs/uat_api/v1/tg_waybill/
ONEC_WAYBILL_TOKEN=your_1c_jwt_token_here
ADMIN_USER=admin
ADMIN_PASS=your_strong_password_here
SECRET_KEY=your_random_secret_key_here
